# .github/workflows/cache-deps.yml
name: Cache Demo

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: prime-cache-c84cd4a   # <--- this must match exactly
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: cache-c84cd4a

      - name: Show cache result
        run: echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
